@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F5F1EB;
    --foreground: #1A1918;
    --accent: #D96A4A; /* Terracotta */
    --accent-hover: #C55839;
    --surface: #FFFFFF;
    --surface-dark: #EAE5DE;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #1A1918;
      --foreground: #F5F1EB;
      --accent: #E27B5E;
      --accent-hover: #D96A4A;
      --surface: #2A2826;
      --surface-dark: #151413;
    }
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(150, 150, 150, 0.3);
  border-radius: 4px;
}
